<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>La Jardinera</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        
    </head>
    <body>
        <!-- Navegacion-->
        <nav class="navbar">
            <div class="container">
                <li class="navbar-brand">
                    <a class="navbar-brand" href="#!">La Jardinera</a>
                    <a class="navbar-brand" href="#!">Contacto</a>
                </li>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">Textil La Jardinera</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        

        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/nuestros-productos.JPG')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Nuestros Productos</h2>
                        <p class="lead mb-0">Lorem Ipsum</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/rollos-de-textiles.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Sobre Nosotros</h2>
                        <p class="lead mb-0">Lorem Ipsum</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3404.691970099551!2d-64.49940290000002!3d-31.42261179999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d664687d4ef07%3A0xc54f3e85b6dc02bb!2sTextil%20La%20Jardinera!5e0!3m2!1ses-419!2sar!4v1667505131870!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>¿Donde estamos?</h2>
                        <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipis</p>
                    </div>
                </div>
            </div>
        </section>
        <a href="https://api.whatsapp.com/send?phone=5493541599632" class="btn-wsp" target="_blank">
            <i class="fa fa-whatsapp icono"></i>
        </a>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Textil LaJardinera2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
